@{
    ViewData["Title"] = "Home Page";
}
<section class="homepage" id="home">
    <div class="homepage__content">
        <h1 class="title">
           Adopt your pet now .
        </h1>
        <p class="homepage__text">
If you are looking for a pet then you came for the right place .           </p>
    </div> <!-- .homepage__content -->
</section> <!-- .homepage -->


